.navbar-wrapper {
	float: right;
	margin: 30px
}

.navbar-wrapper nav {
	display: inline-block;
}

.navbar-wrapper nav li {
	margin: 30px;
	display: inline-block;
}

.navbar-wrapper nav li a {
	text-decoration: none;
	font-size: 20px;
}

.logo {
	float: left;
	margin: 50px;
	color: black;
	text-transform: uppercase;
}
.header {
    display: flex;
    justify-content: space-between;
}
